/* 公共样式 */

/* 声明字体图标（这里要注意路径的变化 ../ ） */

@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?3a2xdr');
  src: url('../fonts/icomoon.eot?3a2xdr#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?3a2xdr') format('truetype'),
    url('../fonts/icomoon.woff?3a2xdr') format('woff'), url('../fonts/icomoon.svg?3a2xdr#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  /* background-color: rgb(166, 209, 243); */
}

/* 版心 */

.w {
  width: 1400px;
  margin: 0 auto;
}

/* 顶部导航栏区域 */

.header {
  position: relative;
  /* position: absolute;
    top: 0;
    left: 0; */
  text-align: center;
  /* margin: 0 auto; */
  /* width: 100%;
    height: 100%; */
  width: 1688px;
  height: auto;
}

.header .header_bg {
  width: 1688px;
  height: auto;
  overflow: hidden;
}

.header .header_bg img {
  width: 1688px;
  height: auto;
}

/* 导航栏区域 */

.main_nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 102px;
  z-index: 999;
  /* background: -webkit-linear-gradient(top, #222, transparent); */
}

.main_nav::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: -0.05rem;
  right: 0;
  bottom: 0;
  /* height: 1.38rem; */
  background: url('../images/head-bg.png') center repeat-x;
  background-size: auto 99%;
}

.collge_code {
  position: absolute;
  top: 19px;
  right: 460px;
  width: 175px;
  height: 35px;
  /* background-color: rgba(0, 0, 0, 0.2); */
  background-color: #00366f;
  border-radius: 20px;
  font-size: 16px;
  color: #fff;
  text-align: center;
  line-height: 35px;
  z-index: 999;
  cursor: pointer;
  transition: all 0.5s;
}

.collge_code:hover {
  background-color: #00366f;
}

.logo {
  position: absolute;
  top: 10px;
  left: 60px;
  width: 320px;
  height: 100px;
  line-height: 100px;
}

.logo img {
  width: 100%;
}

/* 上侧导航栏 */

.nav_top {
  position: absolute;
  top: 10px;
  right: 50px;
  width: 1080px;
  height: 40px;
}

.nav_top ul li {
  float: right;
  height: 40px;
  font-size: 15px;
  line-height: 50px;
  padding: 0 10px;
}

.nav_top ul li a {
  color: #fff;
}

/* 下恻导航栏 */

.nav_bottom {
  position: absolute;
  top: 50px;
  right: 50px;
  width: 1080px;
  height: 50px;
}

/* 主菜单 */

.nav_bottom > ul > li {
  float: right;
  height: 50px;
  font-size: 18px;
  line-height: 50px;
  padding: 0 10px;
  /* 过渡 */
  transition: all 0.3s;
}

.nav_bottom > ul > li a {
  color: #fff;
  transition: all 0.3s;
}

.nav_bottom > ul > li:hover > a {
  /* background-color: #00366f; */
  background-color: rgba(0, 0, 0, 0.2);
  /* color: #00366f; */
  /* color: #c87f00; */
}

/* 下拉菜单 */

.nav_bottom .nav_list {
  display: none;
  width: 200px;
  position: absolute;
  top: 50px;
  margin-left: -65px;
}

.nav_bottom .nav_list li {
  height: 50px;
  font-size: 18px;
  line-height: 50px;
  padding: 0 10px;
  background-color: #fff;
  border-top: 1px solid #00366f;
  /* 过渡 */
  transition: all 0.3s;
}

.nav_bottom .nav_list li:first-child {
  border-top: 2px solid #00366f;
}

.nav_bottom .nav_list li a {
  color: #666;
}

.nav_bottom .nav_list li a:hover {
  color: #00366f;
}

/* 样式变换导航栏 */

.main_nav_change {
  /* background-color: #00366f; */
  position: fixed;
  /* background: -webkit-linear-gradient(top, #222, transparent);
  border-top: 6px solid #00366f; */
  /* transition: all 0.3s; */
}

.main_nav_change .logo {
  margin-top: -9px;
}

.main_nav_change .nav_bottom > ul > li:hover > a {
  color: #fff;
}

/* footer底部区域 */

/* 底部区域 */

.footer {
  margin-top: 20px;
  height: 220px;
  background-color: #00366f;
}

.footer .w {
  height: 165px;
  padding-top: 50px;
  padding-bottom: 15px;
  /* background-color: pink; */
  border-bottom: 1px solid #fff;
}

.footer_logo {
  float: left;
  width: 320px;
  height: 100px;
  line-height: 100px;
}

.footer_logo img {
  width: 100%;
}

/* 地址信息 */

.mod_stress {
  float: left;
  width: 500px;
  height: 100px;
  padding-left: 30px;
  padding-top: 4px;
}

.mod_stress ul li {
  font-size: 15px;
  color: #fff;
  margin-bottom: 2px;
}

/* 链接 */

.mod_links {
  float: right;
  width: 300px;
  height: 100px;
}

.mod_links ul li {
  position: relative;
  float: left;
  width: 50px;
  height: 50px;
  margin-top: 25px;
  margin-left: 20px;
}

.mod_links ul li .link_icon {
  width: 50px;
  height: 50px;
}

.mod_links ul li .erweima {
  display: none;
  position: absolute;
  bottom: 60px;
  left: -40px;
  width: 130px;
  height: 130px;
  background-color: #fff;
  text-align: center;
  line-height: 130px;
  border-radius: 8px;
  z-index: 0;
}

.mod_links ul li .erweima::after {
  content: '';
  display: block;
  /* 添加绝对定位 */
  position: absolute;
  left: 50%;
  margin-left: -10px;
  /* 高度向上走边框宽度的两倍（负值） */
  bottom: -20px;
  width: 0;
  height: 0;
  /* 处理兼容性问题 */
  line-height: 0;
  font-size: 0;
  /* 隐藏其余三边的边框 transparent:透明 */
  border: 10px solid transparent;
  border-top-color: #fff;
}

.mod_links ul li .erweima img {
  width: 118px;
  height: 118px;
}

/* 版权信息 */

.copyright {
  margin-top: 20px;
  text-align: center;
  color: #fff;
}

.copyright i {
  display: inline-block;
  height: 20px;
  margin-left: 2px;
  vertical-align: middle;
}

.copyright i img {
  height: 16px;
}
