<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>重庆城市科技学院-新闻资讯</title>
    <!-- 引入favicon图标 -->
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon" />
    <!-- 引入base 初始化样式文件 -->
    <link rel="stylesheet" href="../css/base.css" />
    <!-- 引入common 公共样式文件 -->
    <link rel="stylesheet" href="../css/common.css" />
    <!-- 引入 ccstnews 页面css样式文件 -->
    <link rel="stylesheet" href="../css/ccstnews.css" />
    <!-- 引入animate动画函数js文件 必须写到 index.js的上面 -->
    <script src="../js/animate.js"></script>
    <!-- 引入common 公共js文件 -->
    <script src="../js/newscommon.js"></script>
  </head>

  <body>
    <!-- header 顶部区域 start -->
    <div class="header">
      <div class="header_bg"><img src="../uplode/news.header_bg.jpg" alt="" /></div>
      <div class="main_nav">
        <div class="collge_code">教育部代码：12616</div>
        <div class="logo">
          <a href="../index.html" target="_blank"><img src="../images/logo.png" alt="" /></a>
        </div>
        <div class="nav_top">
          <ul>
            <li><a href="http://www.cqucc.com.cn/default.html" target="_blank">旧版入口</a></li>
            <li><a href="https://gkcx.eol.cn/school/1474?fromcoop=bdkp" target="_blank">公众访客</a></li>
            <li><a href="http://jw.cqucc.com.cn/cqdxcskjxy/" target="_blank">教职员工</a></li>
            <li><a href="http://jw.cqucc.com.cn/cqdxcskjxy/" target="_blank">在校学生</a></li>
            <li><a href="http://www.cqucc.com.cn:8005/zsb/default.html" target="_blank">未来学生</a></li>
          </ul>
        </div>
        <div class="nav_bottom">
          <ul class="list">
            <li><a href="http://cqucc.mooc.yinghuaonline.com/" target="_blank">在线教育</a></li>
            <li><a href="http://portal.cqucc.com.cn:8003/hwlx/default.html" target="_blank">国际交流</a></li>
            <li>
              <a href="party.html" target="_blank">党建之窗</a>
              <ul class="nav_list">
                <li><a href="party.html" target="_blank">组织机构</a></li>
                <li><a href="party2.html" target="_blank">相关下载</a></li>
                <li><a href="party3.html" target="_blank">党员风采</a></li>
              </ul>
            </li>
            <li>
              <a href="javascript:;">教育教学</a>
              <ul class="nav_list">
                <li><a href="http://www.cqucc.com.cn:8007/jwc/default.html" target="_blank">教务系统</a></li>
                <li><a href="http://www.cqdxhk.com/" target="_blank">继续教育</a></li>
              </ul>
            </li>
            <li>
              <a href="javascript:;">招生就业</a>
              <ul class="nav_list">
                <li><a href="http://www.cqucc.com.cn:8005/zsb/default.html" target="_blank">招生信息网</a></li>
                <li><a href="http://yjy.cqucc.com.cn/" target="_blank">就业服务网</a></li>
              </ul>
            </li>
            <li>
              <a href="teacher.html" target="_blank">师资队伍</a>
              <ul class="nav_list">
                <li><a href="teacher.html" target="_blank">师资概况</a></li>
                <li><a href="teacher2.html" target="_blank">名师风采</a></li>
                <li><a href="http://www.cqucc.com.cn:8003/rsc/default.html" target="_blank">人才招聘</a></li>
              </ul>
            </li>
            <li>
              <a href="department.html" target="_blank">部门总览</a>
              <ul class="nav_list">
                <li><a href="department.html" target="_blank">机关单位</a></li>
                <li><a href="department2.html" target="_blank">直属单位</a></li>
              </ul>
            </li>
            <li>
              <a href="academy.html" target="_blank">院系设置</a>
              <ul class="nav_list">
                <li><a href="http://www.cqucc.com.cn:8001/dqxy/default.html" target="_blank">电气信息学院</a></li>
                <li><a href="http://www.cqucc.com.cn:8002/jgxy/default.html" target="_blank">建筑管理学院</a></li>
                <li><a href="http://www.cqucc.com.cn:8004/tmxy/default.html" target="_blank">土木工程学院</a></li>
                <li><a href="http://www.cqucc.com.cn:8002/jjglxy/default.html" target="_blank">经济管理学院</a></li>
                <li><a href="http://www.cqucc.com.cn:8004/yssjxy/default.html" target="_blank">艺术设计学院</a></li>
                <li><a href="http://www.cqdxhk.com/" target="_blank">继续教育学院</a></li>
                <li><a href="http://www.cqucc.com.cn:8003/rwxy/default.html" target="_blank">人文学院</a></li>
                <li><a href="http://www.cqucc.com.cn:8004/jzxy/default.html" target="_blank">建筑学院</a></li>
              </ul>
            </li>
            <li>
              <a href="ccstInfo.html" target="_blank">学校概况</a>
              <ul class="nav_list">
                <li><a href="ccstInfo.html" target="_blank">学校简介</a></li>
                <li><a href="ccstInfo2.html" target="_blank">现任领导</a></li>
                <li><a href="ccstInfo3.html" target="_blank">学校标志</a></li>
                <li><a href="ccstInfo4.html" target="_blank">公开电话</a></li>
              </ul>
            </li>
            <li><a href="ccstnews.html" target="_blank">新闻资讯</a></li>
            <li><a href="../index.html">首页</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- header 顶部区域 end -->

    <!-- main_area 页面内容区 start -->
    <div class="main_area w">
      <!-- 页面板块名 -->
      <div class="item_title">新闻资讯</div>
      <div class="news_area">
        <div class="news_area_title">焦点新闻</div>
        <ul>
          <a href="ccstnewsinfo1.html" target="_blank">
            <li>
              <h3>重庆城科学子在第十一届全国大学生数学竞赛决赛中创历史佳绩</h3>
              <h4>2022-11-20</h4>
            </li>
          </a>
          <a href="ccstnewsinfo2.html" target="_blank">
            <li>
              <h3>长江学者、重庆大学姚树洁教授应邀来我校作学术报告</h3>
              <h4>2022-11-19</h4>
            </li>
          </a>
          <a href="ccstnewsinfo3.html" target="_blank">
            <li>
              <h3>重庆城科召开纪检工作会议</h3>
              <h4>2022-11-16</h4>
            </li>
          </a>
          <a href="ccstnewsinfo4.html" target="_blank">
            <li>
              <h3>重庆城科：第五期联合国人口基金“一带一路”青年领导力校园大使选拔决赛隆重举行</h3>
              <h4>2022-11-16</h4>
            </li>
          </a>
          <a href="ccstnewsinfo5.html" target="_blank">
            <li>
              <h3>重庆城市科技学院赴永川凤凰湖工业园区考察交流</h3>
              <h4>2022-11-14</h4>
            </li>
          </a>
          <a href="ccstnewsinfo6.html" target="_blank">
            <li>
              <h3>重庆城市科技学院学工队伍赴重庆人文科技学院交流学习</h3>
              <h4>2022-11-13</h4>
            </li>
          </a>
          <a href="ccstnewsinfo7.html" target="_blank">
            <li>
              <h3>重庆城市科技学院章锋云一行赴五洲世纪集团、五洲书店体验中心参观交流</h3>
              <h4>2022-11-09</h4>
            </li>
          </a>
          <a href="ccstnewsinfo8.html" target="_blank">
            <li>
              <h3>重庆城科组织开展“缅怀革命先烈 传承红色基因”党史学习教育主题活动</h3>
              <h4>2022-11-05</h4>
            </li>
          </a>
          <a href="ccstnewsinfo5.html" target="_blank">
            <li>
              <h3>重庆城市科技学院赴永川凤凰湖工业园区考察交流</h3>
              <h4>2022-11-14</h4>
            </li>
          </a>
        </ul>
        <!-- 换页按钮 -->
        <div class="news_area_pagebtn">
          <ol>
            <li><button>上页</button></li>
            <li><button>1</button></li>
            <li><button>2</button></li>
            <li><button>3</button></li>
            <li><button>4</button></li>
            <li><button>...</button></li>
            <li><button>10</button></li>
            <li><button>下页</button></li>
          </ol>
        </div>
      </div>
      <!-- 快速链接 -->
      <div class="news_links">
        <div class="news_links_title">快速链接</div>
        <ul>
          <li>
            <a href="https://zfca.cqucc.com.cn/zfca/login" target="_blank">
              <i class="link_icon"><img src="../images/shuzixiaoyuan.png" alt="" /></i>
              <em>数字校园</em>
            </a>
          </li>
          <li>
            <a href="https://oa.minghuaetc.com/seeyon/index.jsp" target="_blank">
              <i class="link_icon"><img src="../images/OA.png" alt="" /></i>
              <em>OA系统</em>
            </a>
          </li>
          <li>
            <a href="https://jinshuju.net/f/vwvgoI" target="_blank">
              <i class="link_icon"><img src="../images/lindaoxinxiang .png" alt="" /></i>
              <em>领导信箱</em>
            </a>
          </li>
          <li>
            <a href="http://jw.cqucc.com.cn/cqdxcskjxy/" target="_blank">
              <i class="link_icon"><img src="../images/jiaowuxitong.png" alt="" /></i>
              <em>教务系统</em>
            </a>
          </li>
          <li>
            <a href="http://cqucc.mooc.yinghuaonline.com/" target="_blank">
              <i class="link_icon"><img src="../images/mooc.png" alt="" /></i>
              <em>城科MOOC</em>
            </a>
          </li>
          <li>
            <a href="http://lib.cqucc.com.cn/login?libcode=CKY" target="_blank">
              <i class="link_icon"><img src="../images/book.png" alt="" /></i>
              <em>图书系统</em>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!-- main_area 页面内容区 end -->

    <!-- footer 底部区域 start -->
    <div class="footer">
      <div class="w">
        <div class="footer_logo"><img src="../images/logo.png" alt="" /></div>
        <div class="mod_stress">
          <ul>
            <li>地&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;址：重庆市永川区光彩大道368号</li>
            <li>邮&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;编：402167 电话：023-49481068</li>
            <li>招生热线：023-65112864/3/2/1 023-61133880/1/2/3/5/6/7/9</li>
            <li>移动座机：15111812616 15123812616 18883212616</li>
          </ul>
        </div>
        <div class="mod_links">
          <ul>
            <li>
              <img src="../images/qq.png" alt="" class="link_icon" />
              <div class="erweima"><img src="../images/erweima.jpg" alt="" /></div>
            </li>

            <li>
              <img src="../images/wechat.png" alt="" class="link_icon" />
              <div class="erweima"><img src="../images/erweima.jpg" alt="" /></div>
            </li>
            <li>
              <img src="../images/weibo.png" alt="" class="link_icon" />
              <div class="erweima"><img src="../images/erweima.jpg" alt="" /></div>
            </li>
            <li>
              <img src="../images/douyin.png" alt="" class="link_icon" />
              <div class="erweima"><img src="../images/erweima.jpg" alt="" /></div>
            </li>
          </ul>
        </div>
      </div>
      <div class="copyright">
        版权所有 ©<i><img src="../images/BPLUSLaboratory.png" alt="" /></i>
      </div>
    </div>
    <!-- footer 底部区域 end -->
  </body>
</html>
