<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>重庆城市科技学院-新闻</title>
    <!-- 引入favicon图标 -->
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
    <!-- 引入base 初始化样式文件 -->
    <link rel="stylesheet" href="../css/base.css">
    <!-- 引入common 公共样式文件 -->
    <link rel="stylesheet" href="../css/common.css">
    <!-- 引入 newsinfo 页面css样式文件 -->
    <link rel="stylesheet" href="../css/newsinfo.css">
    <!-- 引入animate动画函数js文件 必须写到 index.js的上面 -->
    <script src="../js/animate.js"></script>
    <!-- 引入common 公共js文件 -->
    <script src="../js/newscommon.js"></script>
    <!-- 引入newsinfoback 新闻详情页 返回顶部js -->
    <script src="../js/newsinfoback.js"></script>

</head>

<body>
    <!-- header 顶部区域 start -->
    <div class="header">
        <div class="header_bg"><img src="../uplode/news.header_bg.jpg" alt=""></div>
        <div class="main_nav">
            <div class="collge_code">教育部代码：12616</div>
            <div class="logo"><a href="../index.html" target="_blank"><img src="../images/logo.png" alt=""></a>
            </div>
            <div class="nav_top">
                <ul>
                    <li><a href="http://www.cqucc.com.cn/default.html" target="_blank">旧版入口</a></li>
                    <li><a href="https://gkcx.eol.cn/school/1474?fromcoop=bdkp" target="_blank">公众访客</a></li>
                    <li><a href="http://jw.cqucc.com.cn/cqdxcskjxy/" target="_blank">教职员工</a></li>
                    <li><a href="http://jw.cqucc.com.cn/cqdxcskjxy/" target="_blank">在校学生</a></li>
                    <li><a href="http://www.cqucc.com.cn:8005/zsb/default.html" target="_blank">未来学生</a></li>
                </ul>
            </div>
            <div class="nav_bottom">
                <ul class="list">
                    <li><a href="http://cqucc.mooc.yinghuaonline.com/" target="_blank">在线教育</a></li>
                    <li><a href="http://portal.cqucc.com.cn:8003/hwlx/default.html" target="_blank">国际交流</a></li>
                    <li>
                        <a href="party.html" target="_blank">党建之窗</a>
                        <ul class="nav_list">
                            <li><a href="party.html" target="_blank">组织机构</a></li>
                            <li><a href="party2.html" target="_blank">相关下载</a></li>
                            <li><a href="party3.html" target="_blank">党员风采</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;">教育教学</a>
                        <ul class="nav_list">
                            <li><a href="http://www.cqucc.com.cn:8007/jwc/default.html" target="_blank">教务系统</a></li>
                            <li><a href="http://www.cqdxhk.com/" target="_blank">继续教育</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;">招生就业</a>
                        <ul class="nav_list">
                            <li><a href="http://www.cqucc.com.cn:8005/zsb/default.html" target="_blank">招生信息网</a></li>
                            <li><a href="http://yjy.cqucc.com.cn/" target="_blank">就业服务网</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="teacher.html" target="_blank">师资队伍</a>
                        <ul class="nav_list">
                            <li><a href="teacher.html" target="_blank">师资概况</a></li>
                            <li><a href="teacher2.html" target="_blank">名师风采</a></li>
                            <li><a href="http://www.cqucc.com.cn:8003/rsc/default.html" target="_blank">人才招聘</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="department.html" target="_blank">部门总览</a>
                        <ul class="nav_list">
                            <li><a href="department.html" target="_blank">机关单位</a></li>
                            <li><a href="department2.html" target="_blank">直属单位</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="academy.html" target="_blank">院系设置</a>
                        <ul class="nav_list">
                            <li><a href="http://www.cqucc.com.cn:8001/dqxy/default.html" target="_blank">电气信息学院</a></li>
                            <li><a href="http://www.cqucc.com.cn:8002/jgxy/default.html" target="_blank">建筑管理学院</a></li>
                            <li><a href="http://www.cqucc.com.cn:8004/tmxy/default.html" target="_blank">土木工程学院</a></li>
                            <li><a href="http://www.cqucc.com.cn:8002/jjglxy/default.html" target="_blank">经济管理学院</a>
                            </li>
                            <li><a href="http://www.cqucc.com.cn:8004/yssjxy/default.html" target="_blank">艺术设计学院</a>
                            </li>
                            <li><a href="http://www.cqdxhk.com/" target="_blank">继续教育学院</a></li>
                            <li><a href="http://www.cqucc.com.cn:8003/rwxy/default.html" target="_blank">人文学院</a></li>
                            <li><a href="http://www.cqucc.com.cn:8004/jzxy/default.html" target="_blank">建筑学院</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="ccstInfo.html" target="_blank">学校概况</a>
                        <ul class="nav_list">
                            <li><a href="ccstInfo.html" target="_blank">学校简介</a></li>
                            <li><a href="ccstInfo2.html" target="_blank">现任领导</a></li>
                            <li><a href="ccstInfo3.html" target="_blank">学校标志</a></li>
                            <li><a href="ccstInfo4.html" target="_blank">公开电话</a></li>
                        </ul>
                    </li>
                    <li><a href="ccstnews.html" target="_blank">新闻资讯</a></li>
                    <li><a href="../index.html">首页</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- header 顶部区域 end -->

    <!-- 返回顶部按钮 -->
    <div class="goback"><span class="goback_area"><img src="../images/backtotop.png" alt=""></span></div>

    <!-- main_area 页面内容区 start -->
    <div class="main_area w clearfix">
        <!-- 页面板块名 -->
        <div class="item_title">新闻资讯</div>
        <div class="news_area">
            <div class="news_area_title">重庆城市科技学院章锋云一行赴五洲世纪集团、五洲书店体验中心参观交流</div>
            <div class="news_box">
                <h4>资讯来源：学生处 发布时间：2022-11-09 21:46:17</h4>
                <p>为进一步拓展校企交流与合作，4月9日，学校党委副书记、纪委书记、副校长章锋云带领艺术与传媒学院、学生处、校团委等部门负责人及相关人员，前往重庆五洲世纪文化产业投资集团有限公司、五洲书店体验中心参观交流。五洲世纪集团董事长徐登权带领公司相关领导热情接待了学校参观交流人员。
                </p>
                <i><img src="../uplode/ccstnews_7_1.jpg" alt=""></i>
                <p>
                    在徐登权等公司领导的陪同和讲解下，章锋云等参观了五洲书店体验中心、五洲世纪集团总部大楼，详细了解了五洲世纪集团发展历程、业务板块、企业文化、未来战略发展等情况，还观看了五洲世纪集团形象宣传片，对集团各方面有了深入的了解。
                </p>
                <i><img src="../uplode/ccstnews_7_2.jpg" alt=""></i>

                <p>
                    座谈会上，章锋云感谢徐登权以及五洲世纪集团对此次到访的支持和盛情接待，他对学校办学情况、学科专业、就业情况、校企合作、团学工作等方面情况做了简要介绍，并对此次到访的初衷与想法进行了交流。他谈到，五洲世纪集团是一家朝气蓬勃、敢作敢为的优秀企业，扎根教育服务，深耕文化产业，将文化情怀融入科技、生活、教育、健康等领域，已成为全国知名文化教育产业集团。重庆城市科技学院正站在转设新起点，启航新的征程，期望接下来与五洲世纪集团在校企联动、毕业生实习就业、团学交流等方面有更深层次的交流合作。
                </p>
                <i><img src="../uplode/ccstnews_7_3.jpg" alt=""></i>

                <p>
                    徐登权对学校领导一行到访表示欢迎，对学校提出的促进校企交流合作建议表示支持和赞同。他讲到，重庆城市科技学院经过十六年的办学发展，学科专业、人才培养特色鲜明，是一所全国颇具实力和影响力的民办高校。五洲世纪集团创立时间不长，但公司管理规范、前景光明，已是重庆规模最大的民营文化教育企业之一，集团未来将提供大规模就业岗位，欢迎重庆城科优秀毕业生加入。他也期望与学校尽快开展校企合作，加强互访交流，共享资源、共促发展，实现互惠共赢。
                </p>
                <i><img src="../uplode/ccstnews_7_4.jpg" alt=""></i>

                <p>
                    五洲世纪教育科技有限公司总经理张乾明、重庆五洲世纪文化产业投资集团人力行政中心总监陈媛媛、重庆五洲世纪教育科技有限公司营销总监张薇、重庆五洲世纪教育科技有限公司营销一部经理刘定淼、重庆五洲世纪教育科技有限公司营销二部经理黄建萍、重庆五洲世纪文化产业投资集团人力资源主管汤颖陪同参观并座谈交流。
                </p>
                <i><img src="../uplode/ccstnews_7_5.jpg" alt=""></i>

                <p>
                    此次参观交流的还有学校艺术与传媒学院院长王宝桥，艺术与传媒学院党总支书记陈宣君，校团委书记、学生处副处长万毅，学生处副处长兼大学生就业指导服务中心副主任、创新创业学院副院长吉春元，艺术与传媒学院教学秘书李文静，就业服务中心职员邓婷婷，校团委职员赵红郡。
                </p>
                <i><img src="../uplode/ccstnews_7_6.jpg" alt=""></i>

                <p>
                    重庆五洲世纪文化产业投资集团有限公司坚持以文化教育为核心，聚焦出版发行、实体教育、文化产业开发投资等，秉承“产业报国、文化兴邦”使命，坚持“诚信、关爱、拼搏、进取”核心价值观，着力构建“文化+科技”、“文化+生活”、“文化+教育”、“文化+健康”四大核心业务体系，致力于打造全国知名文化教育产业集团，是重庆文化企业走向全国的先进代表之一。近年来，五洲世纪集团大胆变革转型、以创新促发展，受到了社会各界的认可与表彰，分别荣获“中宣部、文化部、国家新闻出版广电总局三部委第六届全国服务农民、服务基层文化建设先进集体”、“全国五一劳动奖状”、“全国三八红旗集体”、“重庆市优秀民营企业”、“重庆服务企业100强”、“重庆市民营企业100强”等多项荣誉。（大学生就业指导服务中心
                    文/图 传媒中心 王楠/编辑）
                </p>
            </div>
            <!-- 换页按钮 -->
            <!-- <div class="news_area_pagebtn">
            <ol>
                <li><button>上页</button></li>
                <li><button>1</button></li>
                <li><button>2</button></li>
                <li><button>3</button></li>
                <li><button>4</button></li>
                <li><button>...</button></li>
                <li><button>10</button></li>
                <li><button>下页</button></li>
            </ol>
        </div> -->
        </div>
        <!-- 快速链接 -->
        <div class="news_links">
            <div class="news_links_title">快速链接</div>
            <ul>
                <li>
                    <a href="https://zfca.cqucc.com.cn/zfca/login" target="_blank">
                        <i class="link_icon"><img src="../images/shuzixiaoyuan.png" alt=""></i>
                        <em>数字校园</em>
                    </a>
                </li>
                <li>
                    <a href="https://oa.minghuaetc.com/seeyon/index.jsp" target="_blank">
                        <i class="link_icon"><img src="../images/OA.png" alt=""></i>
                        <em>OA系统</em>
                    </a>
                </li>
                <li>
                    <a href="https://jinshuju.net/f/vwvgoI" target="_blank">
                        <i class="link_icon"><img src="../images/lindaoxinxiang .png" alt=""></i>
                        <em>领导信箱</em>
                    </a>
                </li>
                <li>
                    <a href="http://jw.cqucc.com.cn/cqdxcskjxy/" target="_blank">
                        <i class="link_icon"><img src="../images/jiaowuxitong.png" alt=""></i>
                        <em>教务系统</em>
                    </a>
                </li>
                <li>
                    <a href="http://cqucc.mooc.yinghuaonline.com/" target="_blank">
                        <i class="link_icon"><img src="../images/mooc.png" alt=""></i>
                        <em>城科MOOC</em>
                    </a>
                </li>
                <li>
                    <a href="http://lib.cqucc.com.cn/login?libcode=CKY" target="_blank">
                        <i class="link_icon"><img src="../images/book.png" alt=""></i>
                        <em>图书系统</em>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- main_area 页面内容区 end -->



    <!-- footer 底部区域 start -->
    <div class="footer">
        <div class="w">
            <div class="footer_logo"><img src="../images/logo.png" alt=""></div>
            <div class="mod_stress">
                <ul>
                    <li>地 址：重庆市永川区光彩大道368号</li>
                    <li>邮 编：402167 电话：023-49481068</li>
                    <li>招生热线：023-65112864/3/2/1 023-61133880/1/2/3/5/6/7/9 </li>
                    <li>移动座机：15111812616 15123812616 18883212616</li>
                </ul>
            </div>
            <div class="mod_links">
                <ul>
                    <li>
                        <img src="../images/qq.png" alt="" class="link_icon">
                        <div class="erweima"><img src="../images/erweima.jpg" alt=""></div>
                    <li>
                        <img src="../images/wechat.png" alt="" class="link_icon">
                        <div class="erweima"><img src="../images/erweima.jpg" alt=""></div>
                    </li>
                    <li>
                        <img src="../images/weibo.png" alt="" class="link_icon">
                        <div class="erweima"><img src="../images/erweima.jpg" alt=""></div>
                    </li>
                    <li>
                        <img src="../images/douyin.png" alt="" class="link_icon">
                        <div class="erweima"><img src="../images/erweima.jpg" alt=""></div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="copyright">版权所有 ©<i><img src="../images/BPLUSLaboratory.png" alt=""></i></div>
    </div>
    <!-- footer 底部区域 end -->

</body>

</html>