<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>重庆城市科技学院-师资队伍</title>
    <!-- 引入favicon图标 -->
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
    <!-- 引入base 初始化样式文件 -->
    <link rel="stylesheet" href="../css/base.css">
    <!-- 引入common 公共样式文件 -->
    <link rel="stylesheet" href="../css/common.css">
    <!-- 引入 teacher 页面css样式文件 -->
    <link rel="stylesheet" href="../css/teacher.css">
    <!-- 引入animate动画函数js文件 必须写到 index.js的上面 -->
    <script src="../js/animate.js"></script>
    <!-- 引入common 公共js文件 -->
    <script src="../js/common.js"></script>


</head>

<body>
    <!-- header 顶部区域 start -->
    <div class="header">
        <div class="header_bg"><img src="../uplode/news.header_bg.jpg" alt=""></div>
        <div class="main_nav">
            <div class="collge_code">教育部代码：12616</div>
            <div class="logo"><a href="../index.html" target="_blank"><img src="../images/logo.png" alt=""></a>
            </div>
            <div class="nav_top">
                <ul>
                    <li><a href="http://www.cqucc.com.cn/default.html" target="_blank">旧版入口</a></li>
                    <li><a href="https://gkcx.eol.cn/school/1474?fromcoop=bdkp" target="_blank">公众访客</a></li>
                    <li><a href="http://jw.cqucc.com.cn/cqdxcskjxy/" target="_blank">教职员工</a></li>
                    <li><a href="http://jw.cqucc.com.cn/cqdxcskjxy/" target="_blank">在校学生</a></li>
                    <li><a href="http://www.cqucc.com.cn:8005/zsb/default.html" target="_blank">未来学生</a></li>
                </ul>
            </div>
            <div class="nav_bottom">
                <ul class="list">
                    <li><a href="http://cqucc.mooc.yinghuaonline.com/" target="_blank">在线教育</a></li>
                    <li><a href="http://portal.cqucc.com.cn:8003/hwlx/default.html" target="_blank">国际交流</a></li>
                    <li>
                        <a href="party.html" target="_blank">党建之窗</a>
                        <ul class="nav_list">
                            <li><a href="party.html" target="_blank">组织机构</a></li>
                            <li><a href="party2.html" target="_blank">相关下载</a></li>
                            <li><a href="party3.html" target="_blank">党员风采</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;">教育教学</a>
                        <ul class="nav_list">
                            <li><a href="http://www.cqucc.com.cn:8007/jwc/default.html" target="_blank">教务系统</a></li>
                            <li><a href="http://www.cqdxhk.com/" target="_blank">继续教育</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;">招生就业</a>
                        <ul class="nav_list">
                            <li><a href="http://www.cqucc.com.cn:8005/zsb/default.html" target="_blank">招生信息网</a></li>
                            <li><a href="http://yjy.cqucc.com.cn/" target="_blank">就业服务网</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="teacher.html" target="_blank">师资队伍</a>
                        <ul class="nav_list">
                            <li><a href="teacher.html" target="_blank">师资概况</a></li>
                            <li><a href="teacher2.html" target="_blank">名师风采</a></li>
                            <li><a href="http://www.cqucc.com.cn:8003/rsc/default.html" target="_blank">人才招聘</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="department.html" target="_blank">部门总览</a>
                        <ul class="nav_list">
                            <li><a href="department.html" target="_blank">机关单位</a></li>
                            <li><a href="department2.html" target="_blank">直属单位</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="academy.html" target="_blank">院系设置</a>
                        <ul class="nav_list">
                            <li><a href="http://www.cqucc.com.cn:8001/dqxy/default.html" target="_blank">电气信息学院</a></li>
                            <li><a href="http://www.cqucc.com.cn:8002/jgxy/default.html" target="_blank">建筑管理学院</a></li>
                            <li><a href="http://www.cqucc.com.cn:8004/tmxy/default.html" target="_blank">土木工程学院</a></li>
                            <li><a href="http://www.cqucc.com.cn:8002/jjglxy/default.html" target="_blank">经济管理学院</a>
                            </li>
                            <li><a href="http://www.cqucc.com.cn:8004/yssjxy/default.html" target="_blank">艺术设计学院</a>
                            </li>
                            <li><a href="http://www.cqdxhk.com/" target="_blank">继续教育学院</a></li>
                            <li><a href="http://www.cqucc.com.cn:8003/rwxy/default.html" target="_blank">人文学院</a></li>
                            <li><a href="http://www.cqucc.com.cn:8004/jzxy/default.html" target="_blank">建筑学院</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="ccstInfo.html" target="_blank">学校概况</a>
                        <ul class="nav_list">
                            <li><a href="ccstInfo.html" target="_blank">学校简介</a></li>
                            <li><a href="ccstInfo2.html" target="_blank">现任领导</a></li>
                            <li><a href="ccstInfo3.html" target="_blank">学校标志</a></li>
                            <li><a href="ccstInfo4.html" target="_blank">公开电话</a></li>
                        </ul>
                    </li>
                    <li><a href="ccstnews.html" target="_blank">新闻资讯</a></li>
                    <li><a href="../index.html">首页</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- header 顶部区域 end -->

    <!-- main_area 页面内容区 start -->
    <div class="main_area w clearfix">
        <!-- 页面板块名 -->
        <div class="item_title">师资队伍</div>
        <div class="tab">
            <div class="tab_list">
                <ul>
                    <li class="current">师资概况</li>
                    <li>名师风采</li>
                </ul>
                <!-- <div class="tab_icon"><img src="images/logo3.png" alt=""></div> -->
            </div>
            <div class="tab_con">
                <div class="item" style="display: block;">
                    <div class="tab_con_title">师资概况</div>
                    <div class="tab_con_info tab_con_info_conten">
                        <div>
                            <div>
                                <p>
                                    学校已建成一支规模适度、结构合理、素质优良，适应高水平应用技术大学创建和发展的师资队伍。学校在依托高水平研究型综合性大学-----重庆大学名师荟萃、实力雄厚的优秀师资队伍基础上，坚持“引进、培养，稳定、提高”并举的方针，选聘和培养了一批具有较高教学水平、学术水平和较强工程实践能力的教师任教。学校不仅拥有治学严谨、学术造诣深厚的教授、专家作为学科专业带头人，还拥有富于创新精神、站在学科前沿的中青年学术骨干和出类拔萃、充满活力的青年教师队伍，为全面保证教育教学质量奠定了坚实的学术、技术基础。
                                </p>
                                <p>
                                    学校以高素质师资队伍为基础，构建了以工科为主，土木建筑类、机械电气类、经济管理类和艺术设计类等四大专业群为特色，工、经、管、文、法、艺等六大门类互为支撑的学科专业结构。现有本科专业31个，其中建筑学、土木工程、电气工程及其自动化三、工程造价、软件工程五个专业被评为重庆市级特色专业。师资结构的优化和整体素质的提高，从而使我校学科专业建设水平不断提升，并已取得一大批国家级和省部级教学和科研成果。
                                </p>
                                <p>
                                    学校将继续坚定不移地实施质量立校、特色兴校、人才强校战略，加强领导，完善措施；解放思想，创新机制；改善条件，营造环境；大力加强师资队伍建设。通过实施校内与校外、国外相结合、集中与分口相结合、理论与实践相结合，全方位、多角度开发等各类培训，不断提高教师队伍的学术水平、教学能力和工程实践能力等综合素质，从而打造一支国内一流的师资队伍，为全面提升我校学术竞争力、社会影响力和人才培养质量，早日实现高水平应用技术大学的办学目标，提供更加有力的师资保证和智力支撑。
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item ">
                    <div class="tab_con_title">名师风采</div>
                    <span class="tab_con_info tab_con_info_ms">
                        <div class="ms1">
                            <p class="ms_1"><img src="../uplode/tab_con_info_ls1.jpg" alt=""></p>
                            <h3>刘学民 教授</h3>
                            <p>重庆城市科技学院董事长。武汉大学法学硕士，长期从事教育管理工作，具有丰富的民办教育管理工作经验。曾任武汉生物工程学院党委常委、校长助理；云南省民办教育协会副会长，云南中华职业教育社社务委员；云南师范大学商学院理事长、云南城市建设职业学院董事长。
                            </p>
                            <p>现担任中国民办教育协会常务理事，中国民办教育协会民办教育研究分会副理事长，武汉大学校友企业家联谊会中西部分会副会长，中国社科院MBA校外导师，重庆市民办教育协会副会长、重庆市民办教育协会本科教育专业委员会主任，重庆市永川区社科联副主席,北京北方投资集团总裁助理、总裁办公会成员，成都文理学院董事长、重庆城市科技学院理事长。
                            </p>
                            <p>发表论文三十余篇，著作和教材多部，参与教学改革研究项目9项，教研课题曾获湖北省高等学校教学成果三等奖。研究领域为民办教育、高等教育管理、院校比较、思想政治教育等。</p>
                        </div>

                        <div class="ms1">

                            <p class="ms_1"><img src="../uplode/tab_con_info_ls2.jpg" alt=""></p>
                            <h3>潘银松 副教授</h3>
                            <p>电气信息学院院长。博士、副教授/硕士生导师,现主要从事半导体光电集成器件及集成化芯片系统（SOC）技术、CMOS集成电·、传感技术及系统和信息获取及处理技术的研究工作。在国内外刊物上发表论文50余篇，其中SCI收¼论文2篇，EI收¼论文2篇。作为项目主研人参加了国家重点项目、国家自然科学基金项目、国家“863”项目等课题，以项目负责人承担重庆市自然科学基金1项。申请发明专利7项，授权6项，申请实用新型专利1项，授权1项。
                            </p>
                        </div>

                        <div class="ms1">
                            <p class="ms_1"><img src="../uplode/tab_con_info_ls3.jpg" alt=""></p>
                            <h3>柯昌辅 教授级高级工程师</h3>
                            <p>多年担任中国船舶重工集团主任工程师，从事机械设计与制造研究。主要参与研制的国防和民用重点项目获得省、部级科学技术进步奖3项。其它各级各类奖励数十项，参与了国防科研多项舰船动力项目的设计与制造，在引进国外最先进的大功率舰船用发动机及调速器系统及国产化的研制中，做出了重要的成绩，参与了国防工业多次重大技术改造，多年来在培养大学毕业生及工程技术骨干中均作出了突出的贡献，在全国各类杂志期刊发表文章多篇，所著的“高精度双薄膜夹具的设计与计算”在中国核心期刊《现代制造工程》上发表，指导学生参加全国第三届大学生工程训练综合能力竞赛获全国一等奖。
                            </p>
                        </div>

                        <div class="ms1">
                            <p class="ms_1"><img src="../uplode/tab_con_info_ls4.jpg" alt=""></p>
                            <h3>刘定祥 教授</h3>
                            <p>硕士生导师，重庆市首批社科专家库专家，教育部学λ论文评审专家。主要研究领域为数理经济学和土地经济学，曾主持、主研国家自然科学基金、教育部社科基金等多项科研课题；主持重庆市政府重大决策咨询课题，为重庆市土地制度改革提供了决策咨询。发表论文40多篇。著有《应用统计学》、《三峡库区退耕还林生态系统仿真模型》等专著多部。获省（部）级科研成果奖4项。
                            </p>
                        </div>
                    </span>
                </div>
            </div>
        </div>

    </div>
    <!-- main_area 页面内容区 end -->



    <!-- footer 底部区域 start -->
    <div class="footer">
        <div class="w">
            <div class="footer_logo"><img src="../images/logo.png" alt=""></div>
            <div class="mod_stress">
                <ul>
                    <li>地&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;址：重庆市永川区光彩大道368号</li>
                    <li>邮&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;编：402167 电话：023-49481068</li>
                    <li>招生热线：023-65112864/3/2/1 023-61133880/1/2/3/5/6/7/9 </li>
                    <li>移动座机：15111812616 15123812616 18883212616</li>
                </ul>
            </div>
            <div class="mod_links">
                <ul>
                    <li>
                        <img src="../images/qq.png" alt="" class="link_icon">
                        <div class="erweima"><img src="../images/erweima.jpg" alt=""></div>
                    <li>
                        <img src="../images/wechat.png" alt="" class="link_icon">
                        <div class="erweima"><img src="../images/erweima.jpg" alt=""></div>
                    </li>
                    <li>
                        <img src="../images/weibo.png" alt="" class="link_icon">
                        <div class="erweima"><img src="../images/erweima.jpg" alt=""></div>
                    </li>
                    <li>
                        <img src="../images/douyin.png" alt="" class="link_icon">
                        <div class="erweima"><img src="../images/erweima.jpg" alt=""></div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="copyright">版权所有 ©<i><img src="../images/BPLUSLaboratory.png" alt=""></i></div>
    </div>
    <!-- footer 底部区域 end -->

</body>

</html>